<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pong1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Pong1App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>921081A41C7C2B4800B0AE39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92418AC61C7C206900F2F218</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92418ADB1C7C206900F2F218</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92418AE61C7C206900F2F218</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>927825FB1C794E80000D62BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92B807E81C7DA0FE00DEEE46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92B807FA1C7DA0FE00DEEE46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92B808051C7DA0FE00DEEE46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
